<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('orders._order.name')%>:</strong>
    <%= order.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('orders._order.address')%>:</strong>
    <%= order.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('orders._order.email')%>:</strong>
    <%= order.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('orders._order.pay_type')%>:</strong>
    <%= order.pay_type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to  t('orders._order.show_button'), order_path(order, locale: I18n.locale), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to  t('orders._order.edit_button'), edit_order_path(order, locale: I18n.locale), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
